<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>完了</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<main class="container">
		<h2 class="title">完了</h2>
		<div class="form-area">
			<p>処理が完了しました。</p>
			<p th:text="${msg}"></p>
			<a class="back-button" th:if="${from} == 'review'" th:href="@{/top}">入力画面に戻る</a>
			<a class="back-button" th:if="${from} == 'restaurant'" th:href="@{/show-restaurant-form}">入力画面に戻る</a>
		</div>
	</main>

</body>

</html>
